<% provide(:title,"マイページ") %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>マイページ</h1>
      <p>
      メールアドレス<br>
      &nbsp;&nbsp;&nbsp;<%= @user.email %>
      </p>
      <%= link_to 'プロフィールの変更', edit_user_registration_path %>
      <p>
      <%= link_to "削除", user_path, method: :delete,
                                  data: { confirm: "You sure?" } %>
      </p>
  </div>
