@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
.link {
  margin-left: auto;
}

/* header */
header {
  background-color: gray;
  height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
    h1 {
      font-size:1.7em;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      letter-spacing: 3px;
      float: left;
    }
}

.navbar-right {
  float: right;
}
/* Users index */

.users {
 list-style: none;
 margin: 0;
 li {
   overflow: auto;
   padding: 10px 0;
   border-bottom: 1px solid $gray-lighter;
 }
}
